
/* ############
#### RESET ####
############ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(154,41,28);
    --secondary-color: rgb(140,140,143);
  }

/* ###########
#### TEST ####
########### */

body {
    background-color: var(--secondary-color);
}


/* ###############
#### END TEST ####
############### */


.services-section div:hover {
    box-shadow: -2px 5px 20px #bbb;
    border-radius: 12px;
    width: 200px;
    height: 200px;
}


.services-section div:hover > span {
    background-color: rgba(154, 41, 28, 0.8);
}


.video-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 568px) {
  
    #youtube-video {
        width: 420;
    }
}




.devis-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh 0;
}

.contact-page span {
    font-size: larger;
    text-transform: uppercase;
    font-weight: 600;
}


@media (min-width: 811px) {
    #parallax-section {
        background-attachment: fixed;
    }
}